$color: red;

.container {
  h1 {
    color: $color;
    display: block;
    height: 200px;
  }

  .img {
    width: 700px;
    height: 500px;
    background: url('../images/webpack.jpg') no-repeat center/cover;
  }
}